/* Couleurs
Rouge:  rgb(255, 122, 122)
Vert:  rgb(56, 204, 140)
Bleu (fond de la box en haut):  rgb(96, 85, 165)
Bleu foncé (couleur du bord de l’input quand l’utilisateur à cliqué):  rgb(62, 60, 73)
Gris clair (bord de l’input en temps normal + texte en bas du bouton vert):  rgb(185, 182,211)
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    body {
        background-image: url('assets/bg-intro-desktop.png');
    }

    #container {
        width: 80%; 
        height: 80%;
        flex-direction: row;
    }

    #left-part {
        width: 45%;
    }

    #left-part h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 40px;
    }

    #right-part {
        width: 45%;
        margin-bottom: 20px;
    }

    #free-trial {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form .form--error {
        margin-right: 4vw;
    }

    #modal--close {
        margin-top: -5px;
    }
}

@media (max-width: 1023px) /*Mobile Mode*/ {
    body {
        background-image: url('assets/bg-intro-mobile.png');
    }

    #container {
        width: 90%; 
        height: 80%;
        flex-direction: column;
        justify-content: center;
        margin-top: 40vh;
    }

    #left-part {
        margin-bottom: 30px;
        text-align:center;
        width: 100%;   
    }

    #left-part h1 {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    #right-part {
        width: 100%;
    }

    #free-trial {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 42px;
        margin-top: 30px;
    }

    #form .form--error {
        margin-right: 9vw;
    }

    #modal--close {
        margin-top: -3px;
    }
}

body, html {
    height: 110%;
    width: 100%;
    background-color: rgb(255, 122, 122);
    font-family: Poppins;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: 600;
}

#container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: nowrap;
}

#left-part {
    color: #FFF;
}

#free-trial {
    width: 100%;
    height: 60px;
    background-color: rgb(96, 85, 165);
    color: white;
    border-radius: 10px;
    margin-bottom: 25px;
    font-weight: 300;
    box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.15)
}

form {
    align-self: flex-start;
    text-align: center;
    width: 100%;
    margin-top: 33px;
}

#form {
    background: #FFF;
    border-radius: 10px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

input {
    width: 80%;
    height: 54px;
    font-family: Poppins;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px;
    padding-left: 30px;
    margin-top: 10px;
    border: 1px solid rgb(185, 182,211);
}

#form--firstname, #form--lastname {
    text-transform: capitalize;
}

#form .form--error {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-style: italic;
    color:rgb(255, 122, 122);
    font-weight: 500;
    text-align: right;
    margin-right: 4vw;
    visibility: collapse;
}

input:focus {
    outline: none;
    border: 1px solid rgb(62, 60, 73);
}

input:invalid {
    border: 1px solid rgb(255, 122, 122);
    outline: none;
    background: url('assets/icon-error.svg') no-repeat 95% 50%; 
}


#form--submit {
    width: 80%;
    height: 60px;
    border-radius: 8px;
    background-color: rgb(56, 204, 140);
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15)
}

#terms p {
    font-size: 9px;
    margin-bottom: 30px;
    color: rgb(185, 182,211);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

#terms a {
    color:rgb(255, 122, 122);
    font-weight: 700;
}


#modal {
    display: none;
    position: absolute; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#modal--header {
    background-color:rgb(255, 122, 122); 
    margin: 15% auto; 
    margin-bottom: 0;
    border: 2px solid #000;
    width: 75%;
    height: 50px;
}

#modal--header p {
    text-align: center;
    vertical-align: middle; 
    margin-top: 1%;
    color: #000;
}

#modal--close {
    color: #777;
    float: right;
    font-size: 28px; 
    font-weight: 20px;
    margin-right: 10px;
}

#modal--content {
    background-color: rgb(185, 182,211);
    margin: 15% auto;
    margin-top: 0; 
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
}

#modal--close:hover, #modal--close:focus {
    color: #000; 
    text-decoration: none;
    cursor: pointer;
}
